
@import '../../colors.scss';

button {
border:none;
  padding: 12px 32px;
  background-color: $soft-red;
  cursor: pointer;
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;

letter-spacing: 4.375px;


color: $off-white;

  &:hover {
    background-color: $dark-blue;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
