@import "./colors.scss";
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  font-family: Inter, sans-serif;
  font-weight: 400;

  color: black;
  background-color: $off-white;
}

a {
  font-size: 15px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: $soft-red;
}
h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 56px;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
h4 {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}
h5 {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: 15px;
  line-height: 26px;
}
